 *{
    margin: 0;
    font-family: "Work Sans", sans-serif;
  }

  .work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .work-sans-mediam {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }



  .work-sans-Semibold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .work-sans-bold {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  } 








       
/* header related styles */

.header{

background-image: url('../images/banner/banner3.png');
background-size: cover;
height: 700px;
background-repeat: no-repeat;
margin-top: 0;


}



.banner-container{
padding-top: 180px;
text-align: right;
padding-right:180px ;
padding-bottom: 300px; 
padding-left: 650px;   
 

}


.banner-container-title{

color: rgb(255, 255, 255);
font-size: 65px;
font-weight: 700;

 
}


.banner-container-description{

  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
  padding-left: 50px;
}

.Contact-Us-button{

border-radius: 5px;
background: rgb(255, 255, 255);
color: rgb(0, 95, 172);
font-size: 20px;
font-weight: 600;
text-align: right;
border: 0;
padding: 15px;
margin-top: 15px; 


}


/* main section related style */

.main-container{
display: flex;
margin-top: 141px;  
align-items: center;
gap: 20px;


}

.main-container-pic{

margin-top: 10px ;
margin-right:50px ;
margin-bottom: 100px;
margin-left: 50px; 


}


.main-container-content  {
    margin-right: 140px;    
   

}




.main-container-content-title{

color: rgb(21, 20, 20);
font-size: 40px;
font-weight: 700;
text-align: left;
padding-right: 100px;


}

.main-container-content-description{

color: rgb(68, 67, 67);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
 margin-top: 20px; 
padding-right: 60px;
margin-bottom: 10px;

}

.My-Plans{
  text-align: center;
  margin-bottom: 130px;
  color: rgb(21, 20, 20);
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;

}



.my-planes-container{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left:150px ;
  margin-right: 150px;
  margin-bottom: 150px;
  margin-top: 100px;
  text-align: center;
  
}

.skills .my-planes-title{

  color: rgb(21, 20, 20);
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
 


}
.skills .my-planes-description{

  color: rgb(115, 114, 114);
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  
  


}
   


